.button {
  box-sizing: border-box;
  border-radius: 35px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.35;
  font-weight: 700;
  text-transform: uppercase;
  padding: 18px 40px;
  background: #f5170e;
  color: #fff;
  transition: all 0.2s;
}

.button:hover {
  background: #da0100;
}

.button_entrance {
  padding: 18px 58px;
}

.button_submit:hover {
  background: #f5170e;
}

.button_dark {
  background: #8e8e8e;
  padding: 18px 44px;
}

.button_dark:hover {
  background: #2b2b2b;
}
