.footer-container {
  background: #001821;
}
.footer-container__border {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer {
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
