.social {
  flex-basis: 140px;
  margin-right: 90px;
  display: flex;
  justify-content: space-between;
}

.social__link {
  display: block;
  text-decoration: none;
  position: relative;
}

.social__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
}

.social__link::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  transition: all 0.2s;
}
.social__item_telegram .social__link::before {
  background: url(../../img/footer/css_sprites.png) -402px -10px;
}
.social__item_telegram .social__link::after {
  background: url(../../img/footer/css_sprites.png) -178px -10px;
  opacity: 0;
}
.social__item_vk .social__link::before {
  background: url(../../img/footer/css_sprites.png) -346px -10px;
}
.social__item_vk .social__link::after {
  background: url(../../img/footer/css_sprites.png) -122px -10px;
  opacity: 0;
}
.social__item_facebook .social__link::before {
  background: url(../../img/footer/css_sprites.png) -290px -10px;
}
.social__item_facebook .social__link::after {
  background: url(../../img/footer/css_sprites.png) -66px -10px;
  opacity: 0;
}
.social__item_instagram .social__link::before {
  background: url(../../img/footer/css_sprites.png) -234px -10px;
}
.social__item_instagram .social__link::after {
  background: url(../../img/footer/css_sprites.png) -10px -10px;
  opacity: 0;
}

.social__link:hover::after {
  opacity: 1;
}
