.start-page {
  background: url(../../img/start/bg.png) center center no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
