.tags {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 10px;
}

.tags__label {
  cursor: pointer;
}

.tags__checkbox {
  appearance: none;
  position: absolute;
}
.tags__checkbox:checked ~ .tags__tag {
  background: #b9eae4;
}
